<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img width="300" alt="EISLAB Logo" src="https://www.ltu.se/cms_fs/1.180076!/image/Machinelearning_LTU12.JPG_gen/derivatives/landscape_fullwidth/Machinelearning_LTU12.JPG">
</div>
<div style="text-align:center">
  <h2>Are you interested about Deep Learning? </h2>
  <div>
  <h4>Your answer:</h4>
      <input #request />
    <!-- (click) passes input value to send() and then clears the input -->
    <button (click)="send(request.value); request.value=''">
      send
    </button>
  </div>
</div>
<br>
<div style="text-align:center">
    <h4>Our answer (subscribeResult):</h4>
      <!-- the answer_subscribe is taken from AppComponent.subscribeResult attribute -->
      <output name="answer_subscribe">{{subscribeResult.text}}</output>
</div>
<div style="text-align:center">
    <h4>Our answer (promiseResult):</h4>
      <!-- the answer_promise is taken from AppComponent.promiseResult attribute -->
      <output name="answer_promise">{{promiseResult.text}}</output>
</div>
<div style="text-align:center">
    <h4>Our answer (asyncResult):</h4>
      <!-- the answer_async is taken from AppComponent.asyncResult attribute -->
      <output name="answer_async">{{asyncResult.text}}</output>
</div>


<router-outlet></router-outlet>
