<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img width="300" alt="EISLAB Logo" src="https://www.ltu.se/cms_fs/1.180076!/image/Machinelearning_LTU12.JPG_gen/derivatives/landscape_fullwidth/Machinelearning_LTU12.JPG">
</div>
<div style="text-align:center">
    <div>
      <h2>Who are you? </h2>
      <input #name />
    </div>
    <br>
    <div>
      <h4>How are you today?</h4>
      <input #userresult type="stringformat"/>
      <button (click)="send(name.value, userresult.value)">
        send
      </button>
    </div>

    <br>
    <br>
    <div>
      <h4>Your sentence is:</h4>
      <output name="modelresult"> {{modelResult}}</output>
      <!-- (click) passes input value to send() and then clears the input -->
    </div>
    <div>
      <h2>Your humor is positiveness: </h2>
      <h4> (1 max, 0 min) </h4>
      <output name="score"> {{score}}</output>
    </div>
</div>
<br>



<router-outlet></router-outlet>
